NEXT_PUBLIC_SUPABASE_URL=https://xuglyvkigyqeuhblanjv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1Z2x5dmtpZ3lxZXVoYmxhbmp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczNjA3NDAsImV4cCI6MjA5MjkzNjc0MH0.vhMr1QcUFn3RSHVFtrj-A2sA3Bd_HhQfpzMo8w_ihEA
DATABASE_URL=postgresql://postgres:Zentask1001100110101011@db.your-project.supabase.co:5432/postgres
NEXT_PUBLIC_APP_URL=http://localhost:3000
